.drop-container {
    height: 100%;
}
.vision-canvas-l {
    height: 100%;
    .vision-node-border {
        &:hover {
            border: 1px dashed #0070CC;
        }
        position: absolute;
        &.vision-node-active {
            border: 1px dashed #0070CC;
        }
    }
    &.vision-canvas-l-inline-block {
        .vision-node-border {
            position: relative;
        }
    }
    #vision-canvas-l-canvas {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}